.side_panel {
  margin-top: 70px;
  text-align: center;
}

.result_panel {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
