.side_panel {
  margin-top: 70px;
  text-align: center;
}

.price_panel {
}

.result_panel {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.pred_result {
  padding: 3px 0px;
  color: white;
  background-color: #2eb82e;
  border-radius: 10px;
  border-width: thin;
}

.pred_panel {
}
